@tailwind base;
@tailwind components;
@tailwind utilities;

#projectDiv {
    --angle: 0deg;
    border: 1vmin solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    color: #9ca3af;
    background: #0f172a;
    animation: 5s rotate linear infinite;
    padding-top: 50px;
    width: 100%;
}

.outsideWrapper {
    width: 512px;
    height: 512px;
    margin: 20px 60px;
}

.insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
}

#canvasExample {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;
    outline: none;
}


@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#fuzz {
    position: relative;
    z-index: -50;
    padding: 20px;
}


:root {
    --white: #00000;
    --orange: rgba(255, 255, 255, 0);
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}



.carousel-inner {
    position: absolute;
    max-height: 100px;
    height: 100px;
    width: 300px;
}

.carousel-inner::before,
.carousel-inner::after {
    content: "";
    z-index: 1;
    position: relative;
    width: 100%;
    height: 110px;
    pointer-events: none;
}

.carousel-inner::before {
    top: 0;
    background: linear-gradient(
            0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 100%
    );
}

.carousel-inner::after {
    bottom: 0;
    background: linear-gradient(
            0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 100%
    );
}

.carousel-item {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    /*top: 112px;*/
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.carousel-item.visible {
    opacity: 1;
}
