@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.header-bg {
    background-color: #0f172a;
}

#home {
    --angle: 0deg;
    border: 1vmin solid;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    color: #9ca3af;
    background: #0f172a;
    animation: 5s rotate linear infinite;


}

.outsideWrapper {
    width: 512px;
    height: 512px;
    margin: 20px 60px;
}

.insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
}

#canvasExample {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -50;
    outline: none;
}


@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

#fuzz {
    position: relative;
    z-index: 50;
    padding: 20px;
}


:root {
    --white: #00000;
    --orange: rgba(255, 255, 255, 0);
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}



.carousel-inner {
    position: absolute;
    max-height: 100px;
    height: 100px;
    width: 300px;
}

.carousel-inner::before,
.carousel-inner::after {
    content: "";
    z-index: 1;
    position: relative;
    width: 100%;
    height: 110px;
    pointer-events: none;
}

.carousel-inner::before {
    top: 0;
    background: linear-gradient(
            0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 100%
    );
}

.carousel-inner::after {
    bottom: 0;
    background: linear-gradient(
            0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsla(0, 0%, 100%, 0) 100%
    );
}

.carousel-item {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    /*top: 112px;*/
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.carousel-item.visible {
    opacity: 1;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 20px;
    top: 20px;
    float: left;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: grey;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    width: 60%;
    height: 100%;
    top: 0px;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

 /*Styling of overlay */
.bm-overlay {
    color: rgba(0, 0, 0, 0.0);
    opacity: 0;
}

